<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Psycho Development - Collection</title>

    <!-- Bootstrap core CSS -->
    <link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>

    <!-- Custom styles for this template -->
    <link href="../css/heroic-features.css" rel="stylesheet"></link>
</head>
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Psycho Development</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Applications</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Jumbotron Header -->
      <header class="jumbotron my-4">
        <h1 class="display-3">A Warm Welcome!</h1>
        <p class="lead">This page is the collection of Psycho's development. You can freely enjoy each utility applications.</p>
        <a href="/login" class="btn btn-primary btn-lg">Enter!</a>
      </header>

      <!-- Page Features -->
      <div class="row text-center">

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="../img/mail-icon-modified.png" alt=""></img>
            <div class="card-body">
              <h4 class="card-title">Psycho Mail</h4>
              <p class="card-text">You can send the mail to multiple address automatically.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Try!</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="../img/calendar-icon.png" alt=""></img>
            <div class="card-body">
              <h4 class="card-title">Psycho Calendar</h4>
              <p class="card-text">Coming Soon....</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Try!</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="../img/list-icon.png" alt=""></img>
            <div class="card-body">
              <h4 class="card-title">Psycho TODO List</h4>
              <p class="card-text">Coming Soon....</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Try!</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="../img/map-icon-modified.png" alt=""></img>
            <div class="card-body">
              <h4 class="card-title">Psycho Route Finder</h4>
              <p class="card-text">Coming Soon....</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Try!</a>
            </div>
          </div>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Psycho Development 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../lib/jquery/jquery.min.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>